body {
	/*background: #DAE3E7;*/
	background: #efefef;
	font-family: 'Lato', arial, sans-serif;
	color: #708090;
	font-size: 16px;
}
.header {
  padding: 30px 0;
  background: #f5f5f5;
  border-top: 10px solid #778492;
  height:200px;
  
}
.h1_header {
	font-family: Gabriola, sans-serif;
	font-size: 60px;
	margin-top: 30px;
	/*height:100px;*/
	line-height:50px;
	width:220px;
	color:#2F4F4F;
}
.h2_header {
	margin-top:-40px;
	font-size:20px;
	font-family: 'Imprint MT Shadow',arial, sans-serif;
	width:220px;
	border-top: 1px solid black; /* Линия сверху текста */
    padding: 5px; /* Поля вокруг текста */
}
.container {
	background: #f5f5f5; 
	width: 1300px;
	height: 200px;
}
.img_header {
	margin-left:100px;
	margin-top:10px;
	width:180px;
	height:180px;
}
.img_header_content {
	width:400px;
	height:180px;
	position: relative; 
	top: -190px;
	left: 300px;
}
a.btn.contact_me {
	position: relative; 
	top: -320px;
	left: 1075px;
	width:100px;
	height:20px;
	background: #54ba4e;
	border: 1px solid #54ba4e;
	color: #fff;
	font-weight: 600;
	text-transform: uppercase;
	padding: 8px 16px;
	-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 10px; /* закругление углов для всех, кто понимает */
}
.container.sections-wrapper {
	/*background: #DAE3E7; */
	background: #efefef;
	width: 1150px;
	height: 1980px;
	padding-right: 15px;
	padding-left: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
	width: 1150px;
	height: 200px;
}
.primary.col {
	width: 65%;
	position: relative;
	min-height: 1px;
	float:left;
	padding-right: 15px;
	padding-left: 15px;
	text-align: justify;
	
	/*border: 1px solid #54ba4e;*/
}
.secondary.col {
	width: 30%;	
	position: relative;
	min-height: 1px;
	float:right;
	padding-right: 15px;
	padding-left: 10px;
	margin-left: 15 px;
	/*border: 1px solid #54ba4e;*/
}
.section {
	font-size: 18px;
	background: #f5f5f5;
	margin-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom:15px;
	border: 2px solid #C0C0C0;
	/*padding: 8px 16px;
	/*-moz-border-radius: 10px; /* закругление для старых Mozilla Firefox */
	/*-webkit-border-radius: 10px; /* закругл. для старых Chrome и Safari */
	/*-khtml-border-radius:10px; /* закругл. для браузера Konquerer системы Linux */
	border-radius: 5px; /* закругление углов для всех, кто понимает */
}
.heading {
	color: #545e69;
	font-size: 28px;
	margin-bottom:-5px;
	font-family: 'Imprint MT Shadow',arial, sans-serif;
}

/*.table_education {
	border-spacing: 20px 5px;
}
.table_working {
	border-spacing: 20px 5px;
}
*/
.table_working {
	margin-top:15px;
}
.table_th {
	padding-right: 30px;
	text-align:left;
}
.post {
	font-weight:bold;
}
.university {
	font-weight:bold;
}
.college { 
	font-weight:bold;
}
.last_str {
	padding-bottom:15px;
}
.name{
	font-weight:normal;
	font-style:normal;
	/*text-shadow: 4px 1px 3px #999; */
}
.name_univesity {
	font-weight:normal;
	font-style:normal;
}
.about.section {
	font-style:normal;
}
.skillset { 
	height:220px;
}
.level-bar-inner {
	position:relative;
	top:-45px;
	width:100%;
}
.level-title {
	width:70%;
}
.item {
	height:50px;
}
.specialist {
	position:relative;
	top:-45px;
	left:70%;
	width:30%;
	font-size:17px;
}
.education.aside.section {
	height:382px;
}

/*media +-33
@media screen and (min-width:1214px) and (max-width:1366px) {
	
	}
	
*/

	
@media screen and (min-width:320px) and (max-width:400px){
	.header {
    height: 390px;
	}
	.container {
    width: 300px;
	}
	.img_header {
    margin-left: 70px;
	}
	.img_header_content {
    width: 300px;
    height: 300px;
    position: relative;
    top: 0px;
    left: 10px;
	}
	.h1_header {
     font-size:40px;
		width: 300px;
		text-align:center;
	}
	.h2_header {
		width: 220px;
		margin-top: -30px;
		text-align:center;
	}
	.container.sections-wrapper {
    margin-top: 0px;
	width:300px;
	height:3750px;
	}
	a.btn.contact_me {
	top: -145px;
	left:95px;
	background: #00FF00;
	}
	.row {
    width: 300px;
	}
	.primary.col {
    width: 95%;
	padding-left: 3px;
	padding-right: 3px;
	}
	.section {
    font-size: 15px;
	}
	.heading {
    font-size: 20px;
	}
	.lerning {
		display:none;
	}
	.secondary.col {
    width: 95%;
    position: relative;
    min-height: 1px;
    float: left;
	padding-left: 3px;
	}
	aside.info.aside.section {
		position: relative;
		top:-710px;
	}
	section.projects.section {
		position:relative;
		top:215px;/*205px*/
	}
	section.experience.section {
		position:relative;
		top:215px;/*205px*/
	}
	aside.education.aside.section {
		display:none;
	}
	aside.skills.aside.section {
		display:none;
	}
}
@media screen and (min-width:720px) and (max-width:800px) {
	.header {
    height: 500px;
	}
	.container {
    width: 700px;
	}
	.img_header {
    margin-left: 190px;
	width: 300px;
	height: 300px;
	}
	.img_header_content {
	text-align:center;
    width: 300px;
    height: 180px;
    position: relative;
    top: 0px;
    left: 220px;
	}
	.container.sections-wrapper {
    margin-top: 0px;
	
	}
	a.btn.contact_me {
	top: -30px;
	left:260px;
	background: #FF0000;
	}
	.row {
    width: 730px;
	}
	.primary.col {
    width: 90%;
	padding-left: 3px;
	}
	.section {
    font-size: 15px;
	}
	.heading {
    font-size: 20px;
	}
	.lerning {
		display:none;
	}
	.secondary.col {
    width: 90%;
    position: relative;
    min-height: 1px;
    float: left;
	padding-left: 3px;
	}
	aside.info.aside.section {
		position: relative;
		top:-490px;
	}
	section.projects.section {
		position:relative;
		top:170px;
	}
	section.experience.section {
		position:relative;
		top:165px;
	}
	aside.education.aside.section {
		display:none;
	}
	aside.skills.aside.section {
		display:none;
	}
	aside.languages.aside.section {
		position:relative;
		top:-20px;
		
	}
}
@media screen and (min-width:768px) and (max-width:1023px) {	
	
	a.btn.contact_me {
	left: 620px;
	}
	.row {
	width: 750px;
	}
	.primary.col {
	width:100%;
	}
	.secondary.col {
	float:left;
	margin-left:5px;
	width:100%;	
	}
}
@media screen and (min-width:1024px) and (max-width:1150px) {	
	
	a.btn.contact_me {
	left: 850px;
	}
	.row {
	width: 1000px;
	}
	.primary.col {
	width:60%;
	}
	.secondary.col {
	margin-left:-10px;
	width:35%;	
	}
}
@media screen and (min-width:1151px) and (max-width:1250px) {	
	
	a.btn.contact_me {
	left: 1000px;
	}
}